<div class="row">
	<div class="col-3">
		<div class="container">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Lanches</h5>
					<app-snack-list [cart]="currentCart"></app-snack-list>
				</div>
			</div>
		</div>
	</div>
	<div class="col-8">
		<div *ngIf="currentCart">
			<div class="card">
				<div class="card-body">
					<h3 class="card-title text-center">Lanches no carrinho</h3>
					<div class="container">
						<div class="row">
							<div class="card col-5 offset-1 mb-3" *ngFor="let cartItem of currentCart.cartItems">
								<div class="card-body">
									<h3 class="card-title">{{cartItem.snack.description}}</h3>
									<h3 class="card-subtitle mb-2 text-muted">R$: {{cartItem.price | number:'.2'}}</h3>
									<table class="table">
										<tr *ngFor="let cartItemIngredient of cartItem.cartItemIngredients">
											<td>
												{{cartItemIngredient.ingredient.description}}
											</td>
											<td>
												R$: {{cartItemIngredient.ingredient.price | number:'.2'}}
											</td>
											<td>
												<input type="number" [(ngModel)]="cartItemIngredient.amount" min="0" max="100" (change)="updateAllIngredients(cartItem)">
											</td>
										</tr>
										<tr>
											<td colspan="3">
												<button class="btn btn-danger pull-right" (click)="deleteWithAllIngredients(cartItem)">
													<fa name="trash"></fa> remover
												</button>
											</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
						<div class="text-right">
							<span> Valor Total: R$ {{currentCart.price | number:'.2'}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>