<!--The content below is only a placeholder and can be replaced.-->
<div>
	<div class="text-center">
		<h1>
			{{title}}
		</h1>
		<h5>
			Faça seu pedido online!
		</h5>
	</div>
	<app-cart></app-cart>
	<router-outlet></router-outlet>
</div>