<h2>Lanches</h2>
<ul class="snacks">
	<li *ngFor="let snack of snacks" [class.h1]="snack === selectedSnack" (click)="onSelect(snack)">
		<span class="badge">{{snack.id}}</span> {{snack.description}}
	</li>
</ul>

<div *ngIf="selectedSnack">
	<h2>{{selectedSnack.description | uppercase}} Details</h2>
	<div>
		<span>id: </span> {{selectedSnack.id}}
	</div>
	<div>
		<label>
			description:
			<input [(ngModel)]="selectedSnack.description" placeholder="description">
		</label>
	</div>
</div>